<mat-card>
    <b><span>Admin Books</span></b>
    <button mat-flat-button color="primary" class="float-right" (click)="handleAddAction()">Add Book</button>
</mat-card>
<hr>
<mat-card>
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput id="searchInput" #input placeholder="Enter search term">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="tableData(input.value)">Search</button>
</mat-card>
<hr>
<div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element">{{element.title}}</td>
        </ng-container>

        <ng-container matColumnDef="authors">
            <th mat-header-cell *matHeaderCellDef>Author</th>
            <td mat-cell *matCellDef="let element">{{element.authors}}</td>
        </ng-container>

        <ng-container matColumnDef="categories">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let element">{{element.categories}}</td>
        </ng-container>

        <ng-container matColumnDef="published_year">
            <th mat-header-cell *matHeaderCellDef>Year</th>
            <td mat-cell *matCellDef="let element">{{element.published_year}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-icon-button color="primary" matTooltip="View" (click)="handleViewAction(element)">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button color="primary" matTooltip="Delete" (click)="handleEditAction(element)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns;"></tr>
    </table>
</div>