<body>
    <mat-card>
        <b><span>Dashboard</span></b>
    </mat-card>
    <br>
    <div class="greeting-container">
        <h1 class="greeting-message">Hello, {{data}}!</h1>
        <br>
        <p class="greeting-subtext">Welcome to the capital budget tracking system, a centralized solution for tracking budgets and projects.</p>
        <br>
        <p class="greeting-subtext">This system is new. If you encounter issues or have any ideas for enhancements, please let us know on the "Feedback" page.</p>
        <!--<br>-->
        <!--<img src="../../assets/img/Seal_of_Fordham_University.png" alt="Fordham Logo" class="greeting-image">-->
    </div>
</body>